.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  display: flex;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  margin: 0;
}

.about__title {
  color: white;
  position: absolute;
  margin: 100px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
}

.about__content {
  margin: 119px 80px 173px 0;
  color: white;
  display: flex;
  justify-self: flex-end;
  gap: 20px;
  flex-direction: column;
  max-width: 660px;
}

.about__paragraph {
  margin: 0;
  color: inherit;
}
